<div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
</div>

<div class="box">
    <% tasks.forEach(task => { %>
        <form action="/delete" method="POST">
            <div class="item">
                <input type="checkbox" onChange="this.form.submit()" name="checkbox" value="<%= task._id %>">
                <p> <%= task.name %> </p>
            </div>
            <input type="hidden" name="listName" value="<%= listTitle %>">
        </form>
    <% }); %>

    <form action="/" method="POST" class="item">
        <input type="text" name="newItemName" placeholder="Enter new task..." autocomplete="off">
        <button type="submit" name="listName" value="<%= listTitle %>">+</button>
    </form>
</div>